name = "JuMP"
uuid = "4076af6c-e467-56ae-b986-b466b2749572"
repo = "https://github.com/JuliaOpt/JuMP.jl.git"
version = "0.18.6"

[deps]
Calculus = "49dc2e85-a5d0-5ad3-a950-438e2897f1b9"
Compat = "34da2185-b29b-5c13-b0c7-acf172513d20"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
MathProgBase = "fdba3010-5040-5b88-9595-932c9decdf73"
ReverseDiffSparse = "89212889-6d3f-5f97-b412-7825138f6c9c"

[compat]
Compat = "≥ 1.0.0"
ForwardDiff = "~0.5.0, ~0.6, ~0.7, ~0.8, ~0.9, ~0.10"
MathProgBase = "~0.6.0, ~0.7"
OffsetArrays = "≥ 0.2.13"
ReverseDiffSparse = "~0.8.0"
julia = "0.7, 1"

[extras]
ECOS = "e2685f51-7e38-5353-a97d-a921fd2c8199"
GLPKMathProgInterface = "3c7084bd-78ad-589a-b5bb-dbd673274bea"
Ipopt = "b6b21f68-93f8-5de0-b562-5493be1d77c9"
Libdl = "8f399da3-3557-5675-b5ff-fb832c97cbdb"
OffsetArrays = "6fe1bfb0-de20-5000-8ca7-80f57d26f881"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
SCS = "c946c3f1-0d1f-5ce8-9dea-7daa1f7e2d13"
Serialization = "9e88b42a-f829-5b0c-bbe9-9e923198166b"

[targets]
test = ["OffsetArrays", "Pkg", "Serialization", "GLPKMathProgInterface", "SCS", "ECOS", "Ipopt", "Libdl"]
