build/
latex_build/
src/tutorials/*/*.md
!src/tutorials/*/introduction.md
!src/tutorials/algorithms/parallelism.md
src/moi/
src/tutorials/linear/transp.txt
src/release_notes.md
src/packages/*.md
!src/packages/solvers.md
!src/packages/extensions.md
!src/packages/NLopt.md
