# Each element in this TOML file has the format:
#
# [PackageName]
#    user = "jump-dev"
#    rev = ""
#    extension = false
#    has_html = false
#    filename = "README.md"
#
# All fields except `rev` are optional, and the default values are those given
# above.
#
# When the JuMP documentation builds, the `docs/make.jl` script will fetch a
# file for each package from the URL:
#   https://raw.githubusercontent.com/[user]/[PackageName].jl/[rev]/[filename]
# and add it to the `Solvers` section (if `extension = false`) or the
# `Extensions` section (if `extension = true`) of the JuMP documentation.
#
# Files _must_ be written in Documenter-compatible Markdown, and they _should_
# follow the style of the READMEs of the jump-dev packages.
#
# The `rev` _must_ be a fixed git reference, such as a commit SHA or a tag. It 
# must not be a relative reference such as a branch name.
#
# If you develop a new solver or extension, please add it to this list.
#
# Periodically, we will bump the `rev` of each package to reflect recent
# changes. If any solver or extension becomes unmaintained or incompatible with
# the latest version of JuMP or MathOptInterface, we reserve the right to 
# temporarily remove it from the list until it is updated again.

# ============================= jump-dev packages ============================ #

[AmplNLWriter]
    rev = "v1.1.0"
[BARON]
    rev = "1e98de4d9065a07c517f30498d435fda82fc3c80"
[Cbc]
    rev = "v1.1.1"
[Clp]
    rev = "v1.0.3"
[CPLEX]
    rev = "v1.0.0"
[CSDP]
    rev = "3a2e4c7c48af7660a5ba258a4cb6549ab0970366"
[DiffOpt]
    rev = "v0.4.2"
    extension = true
[Dualization]
    rev = "13974285d5ed6f678e4b96aafb764dad5238aac0"
[ECOS]
    rev = "v1.1.1"
[GLPK]
    rev = "v1.1.2"
[Gurobi]
    rev = "v1.0.1"
[HiGHS]
    rev = "v1.5.1"
[Ipopt]
    rev = "v1.2.1"
[KNITRO]
    rev = "4c56de7684c42dd3c83c5fbc515ae1f424eed524"
[MiniZinc]
    rev = "21d5829c2838959e2ec2d2952495c83f43b271b7"
[MosekTools]
    rev = "v0.14.0"
[MultiObjectiveAlgorithms]
    rev = "v1.0.0"
    has_html = true
[Pajarito]
    rev = "v0.8.2"
[ParametricOptInterface]
    rev = "1721e7b07bd1991238802a438ecb5af566d4b555"
    extension = true
[Pavito]
    rev = "c0f3d81d9e9fff2963b872cf84fea35bfcf8b1d1"
[Penopt]
    rev = "486f07d3f3a11f12012ea3ada702a3ee55c8fdc5"
[PolyJuMP]
    rev = "0832380ae36ec66ebe4cbc9555ba351d67096693"
    extension = true
[SCS]
    rev = "v1.1.4"
[SDPA]
    rev = "v0.5.0"
[SDPNAL]
    rev = "00a3fa19f4e1235587948113b0b681da17f4dab5"
[SDPT3]
    rev = "b565aac2a58818090d521f2340e71f597688e4fb"
[SeDuMi]
    rev = "v0.4.2"
[SumOfSquares]
    rev = "44b40b4d533b851a7804b19ec554d62c86b6e9b5"
    extension = true
[Xpress]
    rev = "v0.16.1"

# =========================== non-jump-dev packages ========================== #

[Alpine]
    user = "lanl-ansi"
    rev = "32757b2568acfe71257e41ed4122a120717a6460"
# [CDCS]
#   user = "oxfordcontrol"
[CDDLib]
    user = "JuliaPolyhedra"
    rev = "9700752f849845bc8d8477928baf3df920daadd6"
[Clarabel]
    user = "oxfordcontrol"
    rev = "v0.5.0"
    has_html = true
[COPT]
    user = "COPT-Public"
    rev = "2d93e079645eff773552bb5da44c3024450fe990"
[COSMO]
    user = "oxfordcontrol"
    rev = "c95bf89f111a83f52febf326615a091ad0418f00"
    has_html = true
[DAQP]
    user = "darnstrom"
    rev = "70623ed816916a0f3c3a51b65b166efae364b98d"
# [EAGO]
#   user = "PSORLab"
# [GAMS]
#   user = "GAMS-dev"
[Hypatia]
    user = "chriscoey"
    rev = "a779e4b5ce6df9cc98679b22fb96f131225a3fb5"  
    has_html = true
[InfiniteOpt]
    user = "infiniteopt"
    rev = "v0.5.7"
    filename = "docs/jump/README.md"
    extension = true
[Juniper]
    user = "lanl-ansi"
    rev = "62532341586d447f19c7360715333ba62a42bea9"
# [MadNLP]
#   user = "MadNLP"
[NEOSServer]
    user = "odow"
    rev = "v1.0.2"
# [NLopt]
#   user = "JuliaOpt"
[OSQP]
    user = "osqp"
    rev = "443706e34c2619acbe65281c60bbe850ca4a8fac"
[PATHSolver]
    user = "chkwon"
    rev = "v1.4.2"
[ProxSDP]
    user = "mariohsouto"
    rev = "de648be90e63a69b8d8e4f82371760065d242fe9"
[SCIP]
    user = "scipopt"
    rev = "44e0bff587208fb4e0779db440f4104bc0bba2ec"
[SDDP]
    user = "odow"
    rev = "v1.5.0"
    has_html = true
    extension = true
# [Tulip]
#   user = "ds4dm"
