# Each element in this TOML file has the format:
#
# [PackageName]
#    user = "jump-dev"
#    rev = ""
#    extension = false
#    has_html = false
#    filename = "README.md"
#
# All fields except `rev` are optional, and the default values are those given
# above.
#
# When the JuMP documentation builds, the `docs/make.jl` script will fetch a
# file for each package from the URL:
#   https://raw.githubusercontent.com/[user]/[PackageName].jl/[rev]/[filename]
# and add it to the `Solvers` section (if `extension = false`) or the
# `Extensions` section (if `extension = true`) of the JuMP documentation.
#
# Files _must_ be written in Documenter-compatible Markdown, and they _should_
# follow the style of the READMEs of the jump-dev packages.
#
# The `rev` _must_ be a fixed git reference, such as a commit SHA or a tag. It 
# must not be a relative reference such as a branch name.
#
# If you develop a new solver or extension, please add it to this list.
#
# Periodically, we will bump the `rev` of each package to reflect recent
# changes. If any solver or extension becomes unmaintained or incompatible with
# the latest version of JuMP or MathOptInterface, we reserve the right to 
# temporarily remove it from the list until it is updated again.

# ============================= jump-dev packages ============================ #

[AmplNLWriter]
    rev = "v1.2.0"
[BARON]
    rev = "v0.8.2"
[Cbc]
    rev = "v1.2.0"
[Clp]
    rev = "v1.0.3"
[CPLEX]
    rev = "v1.0.0"
[CSDP]
    rev = "3a2e4c7c48af7660a5ba258a4cb6549ab0970366"
[DiffOpt]
    rev = "v0.4.2"
    extension = true
[Dualization]
    rev = "v0.5.8"
[ECOS]
    rev = "v1.1.1"
[GLPK]
    rev = "v1.1.3"
[Gurobi]
    rev = "v1.0.4"
[HiGHS]
    rev = "v1.7.4"
[Ipopt]
    rev = "v1.5.0"
[KNITRO]
    rev = "4c56de7684c42dd3c83c5fbc515ae1f424eed524"
[MiniZinc]
    rev = "v0.3.4"
[MosekTools]
    rev = "v0.15.1"
[MultiObjectiveAlgorithms]
    rev = "v1.2.0"
    has_html = true
[Pajarito]
    rev = "4c7efa915bdc900b51d1c8290dc771403b11230a"
[ParametricOptInterface]
    rev = "v0.5.1"
    extension = true
[Pavito]
    rev = "v0.3.7"
# Penopt.jl isn't a registered package yet
# [Penopt]
#     rev = "486f07d3f3a11f12012ea3ada702a3ee55c8fdc5"
[PolyJuMP]
    rev = "6b280429865850cd278f0d74d0a176d53da2980e"
    extension = true
[SCS]
    rev = "v1.3.1"
[SDPA]
    rev = "v0.5.0"
[SDPNAL]
    rev = "00a3fa19f4e1235587948113b0b681da17f4dab5"
[SDPT3]
    rev = "b565aac2a58818090d521f2340e71f597688e4fb"
[SeDuMi]
    rev = "v0.4.2"
[SumOfSquares]
    rev = "v0.7.3"
    extension = true
[Xpress]
    rev = "v0.16.1"

# =========================== non-jump-dev packages ========================== #

[Alpine]
    user = "lanl-ansi"
    rev = "v0.5.5"
[BilevelJuMP]
    user = "joaquimg"
    rev = "v0.6.2"
    extension = true
[CDCS]
    user = "oxfordcontrol"
    rev = "6d165e8e8f59b14e36e99c8efb19f0e775bbd292"
[CDDLib]
    user = "JuliaPolyhedra"
    rev = "9700752f849845bc8d8477928baf3df920daadd6"
[Clarabel]
    user = "oxfordcontrol"
    rev = "v0.6.0"
    has_html = true
[COPT]
    user = "COPT-Public"
    rev = "v1.1.11"
[COSMO]
    user = "oxfordcontrol"
    rev = "v0.8.8"
    has_html = true
[DAQP]
    user = "darnstrom"
    rev = "v0.5.1"
[EAGO]
    user = "PSORLab"
    rev = "75b09a9287a3264e2da1e003f0deb8278661c529"
    filename = "docs/src/jump/README.md"
    has_html = true
[GAMS]
    user = "GAMS-dev"
    rev = "c5dee9f929e9d2f4433ae09fa92b8d872c9c43e0"
[Hypatia]
    user = "chriscoey"
    rev = "v0.7.3"
    has_html = true
[InfiniteOpt]
    user = "infiniteopt"
    rev = "v0.5.8"
    filename = "docs/jump/README.md"
    extension = true
[Juniper]
    user = "lanl-ansi"
    rev = "62532341586d447f19c7360715333ba62a42bea9"
[Loraine]
    user = "kocvara"
    rev = "v0.1.2"
[MadNLP]
    user = "MadNLP"
    rev = "389561354a774441cd5e6b3aa5fffee102ed222e"
    has_html = true
[NEOSServer]
    user = "odow"
    rev = "v1.1.0"
# [NLopt]                   # Hard-coded in the file docs/src/packages/NLopt.md
#     user = "JuliaOpt"
[OSQP]
    user = "osqp"
    rev = "443706e34c2619acbe65281c60bbe850ca4a8fac"
[PATHSolver]
    user = "chkwon"
    rev = "v1.6.1"
[Plasmo]
    user = "plasmo-dev"
    rev = "v0.5.4"
    has_html = true
    extension = true
[ProxSDP]
    user = "mariohsouto"
    rev = "de648be90e63a69b8d8e4f82371760065d242fe9"
    has_html = true
[SCIP]
    user = "scipopt"
    rev = "v0.11.14"
[SDDP]
    user = "odow"
    rev = "v1.6.6"
    has_html = true
    extension = true
[Tulip]
    user = "ds4dm"
    rev = "069cdda082dfde31ef7ee935c96e833a3b96b33c"
