# Each element in this TOML file has the format:
#
# [PackageName]
#    user = "jump-dev"
#    rev = ""
#    extension = false
#    has_html = false
#    filename = "README.md"
#
# All fields except `rev` are optional, and the default values are those given
# above.
#
# When the JuMP documentation builds, the `docs/make.jl` script will fetch a
# file for each package from the URL:
#   https://raw.githubusercontent.com/[user]/[PackageName].jl/[rev]/[filename]
# and add it to the `Solvers` section (if `extension = false`) or the
# `Extensions` section (if `extension = true`) of the JuMP documentation.
#
# Files _must_ be written in Documenter-compatible Markdown, and they _should_
# follow the style of the READMEs of the jump-dev packages.
#
# The `rev` _must_ be a fixed git reference, such as a commit SHA or a tag. It
# must not be a relative reference such as a branch name.
#
# If you develop a new solver or extension, please add it to this list.
#
# Periodically, we will bump the `rev` of each package to reflect recent
# changes. If any solver or extension becomes unmaintained or incompatible with
# the latest version of JuMP or MathOptInterface, we reserve the right to
# temporarily remove it from the list until it is updated again.

# See `docs/update_versions.jl` for a script to list the updated versions for
# this file.

# ============================= jump-dev packages ============================ #

[AmplNLWriter]
    rev = "v1.3.0"
[BARON]
    rev = "v0.8.6"
[Cbc]
    rev = "v1.3.0"
[Clp]
    rev = "v1.3.0"
[CPLEX]
    rev = "v1.1.1"
[CSDP]
    rev = "v1.1.2"
[cuOpt]
    rev = "v0.1.1"
[DiffOpt]
    rev = "v0.5.2"
    extension = true
# There are number of known issues with DSDP
# [DSDP]
#     rev = "v0.2.1"
[Dualization]
    rev = "v0.7.1"
[ECOS]
    rev = "v1.1.3"
[GLPK]
    rev = "v1.2.1"
[Gurobi]
    rev = "v1.7.6"
[HiGHS]
    rev = "v1.19.3"
[Hypatia]
    rev = "v0.9.1"
    has_html = true
[Ipopt]
    rev = "v1.11.0"
[KNITRO]
    rev = "v0.14.10"
[MathOptAnalyzer]
    rev = "v0.1.0"
[MathOptIIS]
    rev = "v0.1.1"
[MiniZinc]
    rev = "v0.3.13"
[MosekTools]
    rev = "v0.15.10"
[MultiObjectiveAlgorithms]
    rev = "3bf253221cfa943532b5030ab7d5bed6157b9786"
    has_html = true
[NEOSServer]
    rev = "v1.2.0"
[NLopt]
    rev = "v1.2.1"
[Pajarito]
    rev = "4c7efa915bdc900b51d1c8290dc771403b11230a"
[ParametricOptInterface]
    rev = "v0.14.0"
    extension = true
[Pavito]
    rev = "v0.3.9"
# Penopt.jl isn't a registered package yet
# [Penopt]
#     rev = "486f07d3f3a11f12012ea3ada702a3ee55c8fdc5"
[PiecewiseLinearOpt]
    rev = "f674332f09b8f4c1216a9c4cf309fa27cbad9e1b"
    extension = true
[PolyJuMP]
    rev = "v0.7.5"
    extension = true
[SCS]
    rev = "v2.4.0"
[SDPA]
    rev = "v0.6.0"
[SDPLR]
    rev = "v0.2.1"
[SDPNAL]
    rev = "00a3fa19f4e1235587948113b0b681da17f4dab5"
[SDPT3]
    rev = "b565aac2a58818090d521f2340e71f597688e4fb"
[SeDuMi]
    rev = "v0.4.4"
[SumOfSquares]
    rev = "v0.7.4"
    extension = true
[Xpress]
    rev = "v0.17.1"

# =========================== non-jump-dev packages ========================== #

[Alpine]
    user = "lanl-ansi"
    rev = "v0.5.7"
[BilevelJuMP]
    user = "joaquimg"
    rev = "v0.6.2"
    extension = true
[CATrustRegionMethod]
    user = "fadihamad94"
    rev = "v0.1.0"
[CDCS]
    user = "oxfordcontrol"
    rev = "6d165e8e8f59b14e36e99c8efb19f0e775bbd292"
[CDDLib]
    user = "JuliaPolyhedra"
    rev = "v0.10.1"
[Clarabel]
    user = "oxfordcontrol"
    rev = "v0.11.0"
    has_html = true
[COPT]
    user = "COPT-Public"
    rev = "v1.1.28"
[COSMO]
    user = "oxfordcontrol"
    rev = "v0.8.9"
    has_html = true
[DAQP]
    user = "darnstrom"
    rev = "v0.7.1"
[DisjunctiveProgramming]
    user = "hdavid16"
    rev = "6a4d0ac4a7484e52b1dbff9cee310a73d2d23e81"
    filename = "docs/jump/README.md"
    extension = true
[EAGO]
    user = "PSORLab"
    rev = "v0.8.3"
    filename = "docs/src/jump/README.md"
[GAMS]
    user = "GAMS-dev"
    rev = "dc2bcebb58b1bbeae69453084ff437905eb2463d"
[InfiniteOpt]
    user = "infiniteopt"
    rev = "v0.5.9"
    filename = "docs/jump/README.md"
    extension = true
[Juniper]
    user = "lanl-ansi"
    rev = "v0.9.4"
[Loraine]
    user = "kocvara"
    rev = "v0.2.5"
[MadNLP]
    user = "MadNLP"
    rev = "v0.8.12"
    has_html = true
[MAiNGO]
    user = "MAiNGO-github"
    rev  = "v0.2.2"
[Manopt]
    user = "JuliaManifolds"
    rev = "v0.5.25"
    filename = "Readme.md"
[MathOptAI]
    user = "lanl-ansi"
    rev = "v0.1.15"
    extension = true
[MathOptChordalDecomposition]
    user = "samuelsonric"
    rev = "v0.2.0"
[MathOptSymbolicAD]
    user = "lanl-ansi"
    rev = "v0.2.2"
    extension = true
[Optim]
    user = "JuliaNLSolvers"
    rev = "v1.13.2"
[OSQP]
    user = "osqp"
    rev = "v0.8.1"
[PATHSolver]
    user = "chkwon"
    rev = "v1.7.9"
[Percival]
    user = "JuliaSmoothOptimizers"
    rev = "0448763a5f8aa9d43a5ad684309c839f70d10fbf"
[Plasmo]
    user = "plasmo-dev"
    rev = "v0.6.5"
    has_html = true
    extension = true
[ProxSDP]
    user = "mariohsouto"
    rev = "de648be90e63a69b8d8e4f82371760065d242fe9"
    has_html = true
[SCIP]
    user = "scipopt"
    rev = "v0.12.7"
[SDDP]
    user = "odow"
    rev = "v1.13.0"
    has_html = true
    extension = true
[Tulip]
    user = "ds4dm"
    rev = "v0.9.8"
[Uno]
    user = "cvanaret"
    rev = "v2.3.0"
    filename = "interfaces/Julia/README.md"
    ext = ""
